@tailwind base;
@tailwind components;
@tailwind utilities;

/* this creates a grid.
 It is defined by ${name}-start and ${name}.
 There are 2 areas:
   * "content" in the middle
   * "full-width" from end to end
  |  full-width   | content                | full-width |
  |  1rem...1fr   | min(100%-2rem, ~70rem) | 1rem...1fr |
 */
.content-grid {
    --max-content-width: 69.735rem;
    display: grid;
    grid-template-columns:
    [full-width-start] minmax(1rem, 1fr)
        [content-start] min(100% - 2rem, var(--max-content-width)) [content-end]
    minmax(1rem, 1fr) [full-width-end];
}

/*
 Places the item into the main "content" area.
 In future, this could be swapped to "full-width" to have wider content.
 */
.content-grid > * {
    grid-column: content;
}

/*
  Fancy "block-like" shadow.
  The ones from Tailwind are soft and don't fit the ascii-art theme
 */
.shadow {
    --shadow-size: 3;
    box-shadow: calc(var(--shadow-size) * 1px) calc(var(--shadow-size) * 1px) 0 0 #ced4da;
}

/* Fancy black and white Checkbox */
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.2em solid currentColor;
    border-radius: 0em;
    /* nudging to align with label, which I may not have: */
    transform: translateY(+0.2em);

    display: grid;
    place-content: center;
}

/*  This is the unchecked state, so its scaled down to 0... */
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    box-shadow: inset 1em 1em black;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* And this is the checked version which resets the scale back to 1 */
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/* Broad styles for all buttons */
button,
input[type="button"] {
    color: black;
    border: 2px solid black;
    background-color: #ced4da;
    cursor: pointer;
}

button:disabled,
input[type="button"]:disabled {
    color: white;
    background-color: #495057;
    cursor: not-allowed;
}

/*
  Dotted line to conect items.
  These remaining parameters were hard to define in Tailwind
 */
.dotted-line {
    background-image: linear-gradient(
            to right,
            black 20%,
            rgba(255, 255, 255, 0) 0%
    );
    background-size: 10px 2px;
    background-position: bottom 0.25lh left;
}

/*
 Dotted background for the navbar.
 You can vary the `--density` parameter to get more white or more black.
*/
.dotted-bg {
    --density: 3;
    background: white;
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: calc(var(--density) * 1px) calc(var(--density) * 1px);
    background-position: calc(var(--density) * -0.5px) calc(var(--density) * -0.5px);
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
}
